<div class="contents row">
  <div class="success">
    <p style="color: #FF3366;">
      投稿できたよ！おつかれさま！
    </p>
  </div>
  
  <dic class="success_home">
    <a class="btn" href="/blogs" style="text-decoration: none;">ホームへ戻ろう！</a>
  </div>
</div>