<div class="contents_create">
  <div class="success">
    <p class="create_success">
      投稿できたよ！おつかれさま！
    </p>
  </div>
  
  <dic class="create_success_home">
    <a class="btn" href="/blogs">ホームへ戻ろう！</a>
  </div>
</div>