<div class="contents row">
  <div class="success_destroy">
    <p style="color: #999966; font-weight: 800;">
      削除したよ！
    </p>
  </div>
  
  <div class="destroy_home">
    <a class="btn" href="/" style="text-decoration: none;">投稿一覧へ戻ろう！</a>
  </div>
</div>