<div class="contents row">
  <%= form_tag("/blogs/#{@article.id}", method: :patch ) do %>
    <h3>
      編集しよう！
    </h3>
    
    <p><input type="text" name="title" value="<%= @article.title %>" placeholder="タイトル" autofocus="true"></p>
    <p><input type="text" name="image" value="<%= @article.image %>" placeholder="Image Url" autofocus="true"></p>
    <p><textarea name="text" placeholder="どんな日だった？" rows="10" cols="30"><%= @article.text %></textarea></p>

    
    <input type="submit" value="再投稿しよう！">
  <% end %>
</div>