<div class="contents row">
  <a href="/">ホームに戻ろう！</a>
  <%= form_tag('/blogs', method: :post) do %>
    <p style="color: #FF6699;">
      投稿する
    </p>
    <p><input type="text" name="title" placeholder="タイトル"></p>
    <p><input type="text" name="image" placeholder="Image Url"></p>
    <textarea name="text" placeholder="どんな日だった？" rows="10" cols="30"></textarea>
    <p><input type="submit" value="今日もがんばってるね！投稿！"></p>
  <% end %>
</div>