<div class="contents row">
  <div class="contents_new_write"> 
    <%= form_tag('/blogs', method: :post) do %>
      <p class="contents_new_word">
        投稿する
      </p>
      
      <div class="create_item">
        <p><input type="text" name="title" placeholder="タイトル" class="new_articles_title"></p>
        <p><input type="text" name="image" placeholder="Image Url" class="new_articles_img"></p>
        <textarea name="text" placeholder="どんな日だった？" rows="10" cols="30" class="new_articles_text"></textarea>
        <p><input type="submit" value="今日もがんばってるね！投稿！" class="new_articles_btn"></p>
      </div>
    <% end %>
  </div>
</div>