/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require style
 *= require_self
 */
 













body{
    font-family: serif;
}
*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}



/*application.html.erb*/
/*ブログ*/
.header{
    background-image: url("https://www.pakutaso.com/shared/img/thumb/PAK88_midorihikari15191438_TP_V.jpg");
    margin-top: 0px;
    padding-top: 0px;
}

.header__bar{
    margin-top: 0px;
    margin-bottom: 0px;
}
.header_title{
    height: 60px;
    font-size: 40px;
    color: #008080;
    /*padding-top: 14px;*/
    /*padding-left: 545px;*/
    margin-bottom: 0px;
    margin-top: 0px;
    text-align  : center;
}

.grid-6_header_top{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align  : center;
}



/*ログイン、新規登録*/
.header_before_user{
    margin-left: 680px;
    height: 36px;
    
}
/*ログインボタン*/
.header_login{
    float: left;
    margin-top: 0px;
    margin-right: 3px;
    height: 20px;
    font-family: serif;
    font-weight: bold;
    display       : inline-block;
    border-radius : 10%;          /* 角丸       */
    font-size     : 14pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding-top: 8px;
    padding-bottom: 3px;
    padding-left: 19px;
    padding-right: 19px;
    background    : #ffffff;     /* 背景色     */
    color         : #498176;     /* 文字色     */
    line-height   : 20px;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
.header_login:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */

}
/*新規登録ボタン*/
.header_new_user{
    margin-top: 0px;
    height: 23px;
    font-family: serif;
    font-weight: bold;
    display       : inline-block;
    border-radius : 10%;          /* 角丸       */
    font-size     : 14pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 19px;
    padding-right: 19px;
    background    : #ffffff;     /* 背景色     */
    color         : #498176;     /* 文字色     */
    line-height   : 20px;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
.header_new_user:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}













/*マイページ、ログアウト*/
.user__info{
    margin: 1px 30px 5px 630px;
    list-style: none;
    
}
/*マイページボタン*/
.header_mypage{
    font-weight: bold;
    display       : inline-block;
    border-radius : 10%;          /* 角丸       */
    font-size     : 16px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 8px 15px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #00b3b3;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 1;           /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
.header_mypage:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 0.8;         /* カーソル時透明度 */
}
/*ログアウトボタン*/
.header_logout{
    font-weight: bold;
    display       : inline-block;
    border-radius : 10%;          /* 角丸       */
    font-size     : 16px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 8px 15px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #00b3b3;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 1;           /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
.header_logout:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 0.8;         /* カーソル時透明度 */
}












/*投稿しよう*/
.header_create{
    height: 22px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-left: 710px;
    margin-right: 583px;

    
}
/*@nicknameがログイン中*/
.user_nabheader_user{
    padding-bottom: 2px;
    padding-left: 8px;
    color: #008080;
    
    margin-right: 1143px;
    margin-left: 109px;
}

/*@nicknameの今までの投稿*/
.header_user{
    padding-left: 120px;
    color: #008080;
}

/*フッター*/
.footer_{
  position    : fixed;
  bottom      : 0;
  left        : 0;
  right       : 0;
  height      : 30px;
  background-image: url("https://www.pakutaso.com/shared/img/thumb/PAK88_midorihikari15191438_TP_V.jpg");
  z-index     : 10;
  text-align  : center;
  font-weight : bold;
  color: #33CC99;
}

    









/*index.html.erb*/
.list_article{
    padding-left: 120px;
    list-style: none;
}
.article_one{
    margin-right: 120px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    border-bottom: dotted 3px #33CC99;
    
}
/*投稿のタイトル*/
.article_title{
    font-size: 31px;
    color: #33CC99;
    font-weight: 800;
}
/*投稿の記事*/
.article_text{
    color: #33CC99;
}
/*投稿の日付*/
.article_created{
    color: #33CC99;
    margin-bottom: 7px;
}



/*削除、編集機能*/
.destroy_edit{
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    
}
/*詳細ボタン*/
.index_details_btn{
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    float: left;
    font-family: serif;
    display       : inline-block;
    border-radius : 11%;          /* 角丸       */
    font-size     : 17px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 8px 12px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #006666;     /* 文字色     */
    line-height   : 16px;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
    border        : 2px solid #ffffff;    /* 枠の指定 */
}
.index_details_btn:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffffff;     /* 背景色     */
    background    : #006666;     /* 文字色     */
}
/*削除ボタン*/
.index_destroy_btn{
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 3px;
    float: left;
    font-family: serif;
    display       : inline-block;
    border-radius : 11%;          /* 角丸       */
    font-size     : 17px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 8px 12px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #006666;     /* 文字色     */
    line-height   : 16px;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
    border        : 2px solid #ffffff;    /* 枠の指定 */
}
.index_destroy_btn:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffffff;     /* 背景色     */
    background    : #006666;     /* 文字色     */
}
/*編集ボタン*/
.index_edit_btn{
    margin-top: 5px;
    margin-right: 0px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 3px;
    font-family: serif;
    display       : inline-block;
    border-radius : 11%;          /* 角丸       */
    font-size     : 17px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 8px 12px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #006666;     /* 文字色     */
    line-height   : 16px;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
    border        : 2px solid #ffffff;    /* 枠の指定 */
}
.index_edit_btn:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffffff;     /* 背景色     */
    background    : #006666;     /* 文字色     */
}











/*new.html.erb*/
/*投稿する*/
.contents_new_word{
    text-align  : center;
    color: #FF6699;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.create_item{
    text-align: center;
}
.new_articles_title{
    text-align  : center;
   
    height: 24px;
    width: 400px;
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.new_articles_img{
    text-align  : center;
    height: 24px;
    width: 400px;
    font-size: 18px;
}
.new_articles_text{
    text-align  : center;
    margin-bottom: 20px;
    height: 100px;
    width: 330px;
    font-size: 18px;
}
/*今日もがんばってるね！投稿！*/
.new_articles_btn{
    text-align  : center;
    display       : inline-block;
    border-radius : 30%;          /* 角丸       */
    font-size     : 13pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 1px 20px;   /* 余白       */
    background    : #ffff1a;     /* 背景色     */
    color         : #7f4600;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 9px 9px 12px #666666;  /* 影の設定 */
    border        : 2px solid #ffff1a;    /* 枠の指定 */
    font-family: serif;
}
.new_articles_btn:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffff1a;     /* 背景色     */
    background    : #7f4600;     /* 文字色     */
}






/*create.html.erb*/
/*全体*/
.contents_create{
    height: 390px;
}
/*投稿できたよ！おつかれさま！*/
.create_success{
    color: #FF3366;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 465px;
}
/*ホームへ戻ろう！*/
.create_success_home{
    margin-top: 30px;
    margin-left: 540px;
    text-decoration: none;
}






/*edit.html.erb*/
.contents_edit{
    text-align: center;
}
/*編集しよう！*/
.edit_word{
    text-align: center;
    color: #99CC66;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.edit_title{
    text-align: center;
    height: 24px;
    width: 400px;
    font-size: 18px;
}
.edit_imag{
    text-align: center;
    height: 24px;
    width: 400px;
    font-size: 18px;
}
.edit_text{
    text-align: center;
    height: 100px;
    width: 330px;
    font-size: 18px;
}
.edit_btn{
    text-align: center;
     display       : inline-block;
     border-radius : 20%;          /* 角丸       */
     font-size     : 14pt;        /* 文字サイズ */
     text-align    : center;      /* 文字位置   */
     cursor        : pointer;     /* カーソル   */
     padding       : 0px 12px;   /* 余白       */
     background    : rgba(255, 127, 127, 0.89);     /* 背景色     */
     color         : #ffffff;     /* 文字色     */
     line-height   : 1em;         /* 1行の高さ  */
     transition    : .3s;         /* なめらか変化 */
     box-shadow    : 9px 9px 12px #666666;  /* 影の設定 */
     border        : 2px solid rgba(255, 127, 127, 0.89);    /* 枠の指定 */
     font-family: serif;
}
.edit_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(255, 127, 127, 0.89);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}






/*update.html.erb*/
/*再投稿したよ！おつかれさま！*/
.success_edit{
    text-align: center;
    margin-top: 40px;
    color: #99CC00;
    font-size: 27px;
}
/*投稿一覧に戻ろう*/
.edit_home{
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}









/*destroy.html.erb*/
/*全体*/
.contents_destroy{
    height: 390px;
}
/*削除したよ！*/
.success_destroy{
    text-align: center;
    margin-bottom: 20px;
    color: #999966;
    font-size: 29px;
}
/*投稿一覧へ戻ろう！*/
.destroy_home{
    text-align: center;
    text-decoration: none;
}







/*views/devise/registration/new.html.erb/新規登録画面*/
/*新規登録*/
.user_new_title{
    text-align  : center;
    background: #da70d6;
    font-size: 28px;
    color: #fff0f5;
    font-family: serif;
    height: 43px;
    margin-bottom: 11px;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 10px;
    
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.user_new{
    text-align: center;
    margin-left: 340px;
    margin-right: 340px;
    margin-bottom: 240px;
    padding-top: 10px;
    height: 410px;
    font-size: 23px;
    color: #ffffff;
    font-weight: bold;
    background-image: url("https://www.buckleyandphillips.com.au/productimages/4706_1.jpg")
}
/*ニックネーム(7文字まで)*/
.user_new_nickname{
    text-align: center;
    height: 17px;
    background-color: #fffafa;
    color: #ff69b4;
    margin-right: 230px;
    margin-left: 230px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    border-bottom: solid 3px #da70d6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*メールアドレス*/
.user_new_maill{
    text-align  : center;
    height: 30px;
    background-color: #fffafa;
    color: #ff69b4;
    margin-top: 25px;
    margin-right: 230px;
    margin-left: 230px;
    
    
    border-bottom: solid 3px #da70d6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*パスワード(6文字以上)*/
.user_new_password{
    text-align  : center;
    height: 27px;
    background-color: #fffafa;
    color: #ff69b4;
    padding-bottom: 5px;
    margin-top: 27px;
    margin-right: 230px;
    margin-left: 230px;
    margin-bottom: 0px;
    border-bottom: solid 3px #da70d6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*パスワードの確認*/
.user_new_password_confirmation{
    text-align  : center;
    height: 30px;
    background-color: #fffafa;
    color: #ff69b4;
    margin-top: 60px;
    margin-right: 230px;
    margin-left: 230px;
    border-bottom: solid 3px #da70d6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*登録するボタン*/
.user_new_button{
    text-align  : center;
    font-family: serif;
    font-weight: bold;
    margin-top: 16px;
    display       : inline-block;
    border-radius : 9%;          /* 角丸       */
    font-size     : 18px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 9px 45px;   /* 余白       */
    background    : #faefdf;     /* 背景色     */
    color         : #ff4da6;     /* 文字色     */
    line-height   : 10px;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
}
.user_new_button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}













/*views/devise/sessions/new.html.erb/ログイン画面*/
/*ログイン*/
.user_login_title{
    text-align  : center;
    background: #f0f46b;
    font-size: 28px;
    color: #57591d;
    height: 43px;
    
    margin-top: 10px;
    margin-bottom: 14px;
    margin-left: 500px;
    margin-right: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.user_login{
    font-weight: 490;
    text-align: center;
    height: 290px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 19px;
    font-size: 24px;
    color: #800000;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/16/67/645825862063634.jpg")
}

/*ログインする*/
.login_button{
    margin-left: 10px;
    font-family: serif;
    font-weight: bold;
    display       : inline-block;
    border-radius : 9%;          /* 角丸 */      
    font-size     : 17px;        /* 文字サイズ */ 
    text-align    : center;      /* 文字位置   */ 
    cursor        : pointer;     /* カーソル  */  
    padding       : 8px 29px;   /* 余白       */ 
    background    : #ffffff;     /* 背景色   */   
    color         : #800000;     /* 文字色  */    
    line-height   : 10px;         /* 1行の高さ  */ 
    opacity       : 1;           /* 透明度 */     
    transition    : .3s;         /* なめらか変化 */ 
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */ 
}
.login_button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 0.8;         /* カーソル時透明度 */ 
}





/*ログイン画面・新規登録画面・投稿画面・編集画面の記入欄*/
input[type="text"] {
    width: 300px;
    height: 24px;
    font-size: 20px;
    font-family: serif;
    }
    
input[type="password"] {
    width: 300px;
    height: 25px;
    font-size: 20px;
    font-family: serif;
    }

input[type="email"] {
    width: 300px;
    height: 25px;
    font-size: 20px;
    font-family: serif;
    }








/*user/show.html.erb/マイページ*/
.article_user_one{
    margin-right: 120px;
    padding-top: 12px;
    border-top: double 3px #33CC99;
    border-bottom: double 3px #33CC99;
}