/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require style
 *= require_self
 */

/*application.html.erb*/
/*ブログ*/
.header_top{
    margin: 20px 90px 2px 510px;
    
    
}
/*ログイン、新規登録*/
.header_before_user{
    margin: 1px 30px 20px 690px;
}


/*マイページ、ログアウト*/
.user__info{
    margin: 1px 30px 5px 630px;
    list-style: none;
}

/*投稿しよう*/
.header_create{
    margin: 1px 30px 10px 710px;
}


/*@nicknameのページ*/
.header_user{
    padding-left: 120px;
}

/*フッター*/
.footer_{
    margin-left: 450px;
    font-weight: 800;
    color: #33CC99;
}


/*index.html.erb*/
.list_article{
    padding-left: 120px;
    list-style: none;
    
}
.article_one{
    margin-right: 120px;
    padding-top: 12px;
    border-top: dotted 3px #33CC99;
    
    
    
}
/*削除、編集機能*/
.destroy_edit{
    margin-top: 2px;
    margin-bottom: 1px; 
    text-decoration: none;
}

/*new.html.erb*/
.contents_new{
    margin-left: 60px;
}
.contents_new_write{
    margin-left: 510px
    
}

/*create.html.erb*/
.success{
    margin-left: 460px;
}
.success_home{
    margin-left: 510px;
}


/*edit.html.erb*/
.contents_edit{
    margin-left: 510px;
}

/*uodate.html.erb*/
.success_edit{
    margin-left: 460px;
}
.edit_home{
    margin-left: 500px;
}

/*destroy.html.erb*/
.success_destroy{
    margin-left: 510px;
}
.destroy_home{
    margin-left: 480px;
}


/*views/devise/registration/new.html.erb/新規登録画面*/
.contents_user_create{
    margin-left: 510px;
}

/*views/devise/sessions/new.html.erb/ログイン画面*/
.contents_user_login{
    margin-left: 510px;
}

/*user/show.html.erb/マイページ*/
.article_user_one{
    margin-right: 120px;
    padding-top: 12px;
    border-top: double 3px #33CC99;
    border-bottom: double 3px #33CC99;
}